/* @media screen and (min-width: 700px) { */
.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, auto));
  grid-auto-rows: minmax(250px, 1fr);
  grid-template-rows:
    90px minmax(42vw, auto) minmax(450px, auto) 84px repeat(
      7,
      minmax(450px, auto)
    )
    180px;
  grid-gap: 4px;
  grid-template-areas:
    "header header"
    "cover1  cover1"
    "main     side"
    "projects projects"
    "imgdes5 image5"
    "image6 imgdes6"
    "imgdes1 image1"
    "image2 imgdes2"
    "imgdes3 image3"
    "image4 imgdes4"
    "contact contact"
    "footer footer";
}

.header {
  grid-area: header;
  background-color: blueviolet;
}

.main-cover {
  grid-area: cover1;
  background-color: rgb(113, 137, 240);
}

.main {
  grid-area: main;
  background-color: rgb(55, 129, 172);
}

.sidebar {
  grid-area: side;
  background-color: rgb(128, 203, 247);
}
.projects {
  grid-area: projects;
  background-color: rgb(236, 211, 128);
}
.image-showcase-1 {
  grid-area: image1;
  /* background-color: #f25777; */
  background-color: #e05772;
}
.image-description-1 {
  grid-area: imgdes1;
  background-color: #e9e9e9;
}
.image-showcase-2 {
  grid-area: image2;
  background: #40666f;
}
.image-description-2 {
  grid-area: imgdes2;
  background-color: #fae0f8;
}
.image-showcase-3 {
  grid-area: image3;
  background-color: #17366c;
  /* background-color: #424d5e; */
}
.image-description-3 {
  grid-area: imgdes3;
  background-color: #e9e9e9;
}
.image-showcase-4 {
  grid-area: image4;
  background-color: #145947;
}
.image-description-4 {
  grid-area: imgdes4;
  /* background-color: #96749c; */
  background-color: #fae0f8;
}
.image-showcase-5 {
  grid-area: image5;
  background-color: #f25777;
}
.image-description-5 {
  grid-area: imgdes5;
  background-color: #e9e9e9;
}
.image-showcase-6 {
  grid-area: image6;
  /* background-color: #f25777; */
  background-color: #424d5e;
}
.image-description-6 {
  grid-area: imgdes6;
  background-color: #fae0f8;
}
.contact-wrapper {
  grid-area: contact;
  background-color: #686e80;
  /* background-color: #abc1cf; */
}
.footer {
  background-color: #313e51;
  grid-area: footer;
}

/* ============================================================================== */

@media screen and (min-width: 1110px) {
  .hero-hi ul {
    color: #1b1b1b;
    list-style-type: none;
    font-size: 4.5em;
    background: rgba(255, 255, 255, 0.9);
    padding: 90px;
    font-family: "Lato", sans-serif;
    color: #555555;
  }
  .hero-hi {
    margin-left: 26em;
  }

  .hero-hi ul li {
    padding: 5px 0;
  }

  .hero-hi ul li:first-child {
    font-size: 0.7em;
  }

  .hero-hi ul li:last-child {
    font-size: 0.4em;
    font-style: italic;
  }

  h1,
  h2 {
    margin: 0 0 20px;
  }

  h1 {
    font-size: 26pt;
  }

  .about-container p {
    font-weight: 400;
    line-height: 1.7em;
    font-size: 14pt;
    padding: 2%;
  }

  .about-container ul li {
    padding-left: 18%;
    -ms-flex-item-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 700px) {
  .container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows:
      60px 500px repeat(2, minmax(450px, 1fr)) 60px repeat(
        13,
        minmax(450px, 1fr)
      )
      140px;
    grid-gap: 3px;
    grid-template-areas:
      "header"
      "cover1"
      "main"
      "side"
      "projects"
      "image5"
      "imgdes5"
      "image6"
      "imgdes6"
      "image1"
      "imgdes1"
      "image2"
      "imgdes2"
      "image3"
      "imgdes3"
      "image4"
      "imgdes4"
      "contact"
      "footer";
  }

  .logo {
    height: 36px;
    margin-bottom: 0;
  }

  nav ul li {
    list-style: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    padding-left: 12px;
  }

  /* .hero-hi {
    display: flex;
    justify-content: flex-start;
    margin-left: 5em;
    padding: 0;
  } */

  .about-container {
    padding: 2%;
  }

  .about-container ul {
    /* padding-right: 40%; */
    padding-left: 5%;
  }

  h2 {
    margin: 0 0 20px 0;
  }

  .form h2 {
    padding-left: 15%;
  }
  
 input[type="submit"] {
    margin-left: 22%;
  }

  .contact-container {
    padding-left: 18%;
  }

/* .form h2 {
    padding-left: 20%;
  } */
  
  .form input[type="text"],
  .form input[type="email"],
  .form textarea {
    width: 75%;
  }

  .footer1 ul {
    padding-left: 33px;
  }

  .footer1 ul li {
    padding-left: 30px;
    font-size: 24px;
  }
  
   .udacity-logo {
    width: 24px;
    height: 24px;
    margin-top: 5px;
  }
}
